<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>.</string>
	<key>BuildMachineOSBuild</key>
	<string>23F79</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Vultisig</string>
	<key>CFBundleExecutable</key>
	<string>VultisigApp</string>
	<key>CFBundleIconFile</key>
	<string>AppIconMacOS</string>
	<key>CFBundleIconName</key>
	<string>AppIconMacOS</string>
	<key>CFBundleIdentifier</key>
	<string>com.vultisig.wallet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VultisigApp</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.voltix.wallet</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vultisig</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>34</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>14.5</string>
	<key>DTSDKBuild</key>
	<string>23F73</string>
	<key>DTSDKName</key>
	<string>macosx14.5</string>
	<key>DTXcode</key>
	<string>1540</string>
	<key>DTXcodeBuild</key>
	<string>15F31d</string>
	<key>INIntentsSupported</key>
	<array>
		<string>Intent</string>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.finance</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp.</string>
		<string>_bonjour._tcp</string>
		<string>_lnp._tcp.</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>We need to scan QR Codes.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Secure your Vault using Face ID</string>
	<key>NSFileProviderDomainUsageDescription</key>
	<string>We need to access your files.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to save photos.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat.ttf</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<false/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
