<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vult</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Vultisig Vault File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.vultisig.vault</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bak</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Vultisig Vault Backup</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.vultisig.backup</string>
			</array>
		</dict>
	</array>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.voltix.wallet</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vultisig</string>
			</array>
		</dict>
	</array>
	<key>INIntentsSupported</key>
	<array>
		<string>Intent</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp.</string>
		<string>_bonjour._tcp</string>
		<string>_lnp._tcp.</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Brockmann-SemiBold.otf</string>
		<string>Satoshi-Medium.otf</string>
		<string>Brockmann-Regular.otf</string>
		<string>Brockmann-Medium.otf</string>
		<string>Brockmann-Bold.otf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat.ttf</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlegmail</string>
		<string>message</string>
		<string>ms-outlook</string>
		<string>ymail</string>
		<string>readdle-spark</string>
		<string>protonmail</string>
		<string>mailto</string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Vultisig Vault File</string>
			<key>UTTypeIdentifier</key>
			<string>com.vultisig.vault</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vult</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vultisig-vault</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Vultisig Vault Backup</string>
			<key>UTTypeIdentifier</key>
			<string>com.vultisig.backup</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bak</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vultisig-backup</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
