<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>.</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.voltix.wallet</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vultisig</string>
			</array>
		</dict>
	</array>
	<key>INIntentsSupported</key>
	<array>
		<string>Intent</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp.</string>
		<string>_bonjour._tcp</string>
		<string>_lnp._tcp.</string>
	</array>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Custom File Type</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.vultisig.wallet</string>
            </array>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>vult</string>
            </array>
        </dict>
    </array>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeDescription</key>
            <string>Custom File</string>
            <key>UTTypeIdentifier</key>
            <string>com.vultisig.wallet</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>vult</string>
                </array>
                <key>public.mime-type</key>
                <string>application/myapp</string>
            </dict>
        </dict>
    </array>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat.ttf</string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
</dict>
</plist>
