<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleGetInfoString</key>
    <string></string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>CFBundleURLName</key>
            <string>com.voltix.wallet</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>vultisig</string>
            </array>
        </dict>
    </array>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>NSBonjourServices</key>
    <array>
        <string>_http._tcp.</string>
        <string>_bonjour._tcp</string>
        <string>_lnp._tcp.</string>
    </array>
    <key>UIAppFonts</key>
    <array>
        <string>Montserrat-Italic.ttf</string>
        <string>Montserrat.ttf</string>
    </array>
    <key>NSCameraReactionEffectGesturesEnabledDefault</key>
    <false/>
    <key>UIRequiresPersistentWiFi</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>This app requires access to the camera to capture videos.</string>
</dict>
</plist>
