name: Xcode - Build, Analyze and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build, analyse and test default scheme using xcodebuild command
    runs-on: macos-26
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Cache SwiftPM
        uses: actions/cache@v4
        with:
          path: |
            VultisigApp/.build
            VultisigApp/SourcePackages
          key: ${{ runner.os }}-spm-
          restore-keys: |
            ${{ runner.os }}-spm-   
      - name: Set Default Scheme
        working-directory: VultisigApp
        run: |
          sudo xcode-select -s /Applications/Xcode_26.0.1.app
          mdfind "kMDItemCFBundleIdentifier = 'com.apple.dt.Xcode'"
          xcrun --find xcodebuild
          scheme_list=$(xcodebuild -list -json | tr -d "\n")
          default=$(echo $scheme_list | ruby -e "require 'json'; puts JSON.parse(STDIN.gets)['project']['targets'][0]")
          echo $default | cat >default
          echo Using default scheme: $default
          
      - name: Build for macOS
        working-directory: VultisigApp
        env:
          scheme: ${{ 'default' }}
        run: |
          if [ $scheme = default ]; then scheme=$(cat default); fi
          if [ "`ls -A | grep -i \\.xcworkspace\$`" ]; then filetype_parameter="workspace" && file_to_build="`ls -A | grep -i \\.xcworkspace\$`"; else filetype_parameter="project" && file_to_build="`ls -A | grep -i \\.xcodeproj\$`"; fi
          file_to_build=`echo $file_to_build | awk '{$1=$1;print}'`
          
          # Print environment info
          echo "Xcode version:"
          xcodebuild -version
          echo "Swift version:"
          swift --version
          
          # Clean, build and analyze for macOS
          echo "Building and analyzing for macOS - scheme: $scheme"
          xcodebuild clean build analyze \
            -scheme "$scheme" \
            -"$filetype_parameter" "$file_to_build" \
            -destination 'platform=macOS,arch=x86_64' \
            -skipPackagePluginValidation \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_ALLOWED=NO \
            ONLY_ACTIVE_ARCH=YES \
            DEBUG_INFORMATION_FORMAT=dwarf \
            SWIFT_COMPILATION_MODE=wholemodule \
            OTHER_SWIFT_FLAGS="-Xfrontend -debug-time-function-bodies" \
            | xcpretty -c && exit ${PIPESTATUS[0]}

      - name: Build and Test for iOS
        working-directory: VultisigApp
        env:
          scheme: ${{ 'default' }}
        run: |
          if [ $scheme = default ]; then scheme=$(cat default); fi
          if [ "`ls -A | grep -i \\.xcworkspace\$`" ]; then filetype_parameter="workspace" && file_to_build="`ls -A | grep -i \\.xcworkspace\$`"; else filetype_parameter="project" && file_to_build="`ls -A | grep -i \\.xcodeproj\$`"; fi
          file_to_build=`echo $file_to_build | awk '{$1=$1;print}'`
          
          # Build and test for iOS in one command
          echo "Building and testing for iOS - scheme: $scheme"
          xcodebuild build analyze test \
            -scheme "$scheme" \
            -"$filetype_parameter" "$file_to_build" \
            -destination 'platform=iOS Simulator,name=iPhone 17 Pro Max,OS=26.1' \
            -skipPackagePluginValidation \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_ALLOWED=NO \
            ONLY_ACTIVE_ARCH=YES \
            | xcpretty -c && exit ${PIPESTATUS[0]}
